.preview-container {
  width: 1000px;
  min-height: 400px;
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.comic-title {
  width: 900px;
  justify-content: center;
  margin-left:40px;
}

.vignettes {
  display: flex;
  justify-content: space-around;
}

.vignettes-text {
  position: relative;
}

.element {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 260px;
  height: 260px;
  background-color: $dark-cyan;
  border: 6px solid black;
  margin: 10px;
}

.background-image, .overlay-image {
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-left,
.rectangle-right {
  width: 260px;
  background-color: $tiffany-blue;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
}
.rectangle-right {
  background-color: $vanilla;
  margin-left: 10px;
  text-align: right;
}
.rectangle-left {
  margin-right: 5px;
  text-align: left;
}

.img {
  opacity: 0.5;
}
