<footer class="footer">
  <div class="footer-inner">
    <div class="footer-columns">
      <div class="footer-column">
        <h3 class="spefont">Explorer</h3>
        <ul>
          <li><a href="#">Welcome</a></li>
          <li><a href="#">Search for comix</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3 class="spefont">About us</h3>
        <ul>
          <li><a href="#">Who are we ?</a></li>
          <li><a href="#">Our team</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3 class="spefont">Assistance</h3>
        <ul>
          <li><a href="#">General conditions</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info">
      <img src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709649745/ComixBnB/comix_trip_logo_staple_euqeny.png" alt="ComixBnB Logo">
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
