<% if controller_name == "comic_trips" && action_name.in?(%w[home index]) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3" data-toggle-target="togglableElement">
          <%= form_with url: comic_trips_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search a comiXtrip"
            %>
            <%= submit_tag "Search", name: "", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
