<div class="creation-section">
  <div class="element-container">
    <button>Background</button>
    <button class="del-button">Del</button>
  </div>

  <div class="element-container">
    <button>Element #1</button>
    <button class="del-button2">Del</button>
  </div>

  <div class="element-container">
    <button>Element #2</button>
    <button class="del-button">Del</button>
  </div>

  <div class="publish-container">
    <button class="publish">Publish</button>
  </div>

  <div class="rectangle-container">
    <div class="rectangle" id="rectangle1">Title: <input type="text" id="titleInput" placeholder="Enter title here"></div>

    <div class="rectangle" id="rectangle2">
      Dialogue #1 <input type="text" id="dialogueInput1" placeholder="Enter your dialogue here">
      <div><button class="print1">Print!</button></div>
      <div><button class="none1">None</button></div>
    </div>

    <div class="rectangle" id="rectangle3">
      Dialogue #2 <input type="text" id="dialogueInput2" placeholder="Enter your dialogue here">
      <button class="print2">Print!</button>
      <button class="none2">None</button>
    </div>

    <div class="superposed-library">
      <button class="Library1">Library #1</button>
      <button class="Library2">Library #2</button>
      <button class="Library3">Library #3</button>
    </div>
  </div>
  <div class="square">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
