<div class="creation-section">
  <div class="element-container">
    <button>Background</button>
    <div class="delete-button">
      <button>Del</button>
    </div>
  </div>
  <div class="element-container">
    <button>Element #1</button>
    <div class="delete-button">
      <button>Del</button>
    </div>
  </div>
  <div class="element-container">
    <button>Element #2</button>
    <div class="delete-button">
      <button>Del</button>
    </div>
    <div class="big-button-container">
      <button class="big-button">Big Button</button>
    </div>
  </div>
</div>


