<div id="Element1" class="background-photos-modal background-grid d-none" data-live-preview-target="background1">
  <% @background_elements.each do |element| %>
    <div data-action="click->live-preview#setVig1Background" data-imagename="<%= element.name %>">


    
      <%= image_tag(element.image_url) %>
    </div>
  <% end %>
</div>
