<div id="Element1" class="background-photos-modal d-none" data-live-preview-target="vig3char1">
  <% @char_elements.each do |element| %>
    <div data-action="click->live-preview#setVig3Char1" data-imagename="<%= element.name %>">
      <%= image_tag(element.image_url) %>
    </div>
  <% end %>
</div>
