<div class="preview-container">
  <div class="comic">
    <div class="comic-title">
      <h2 id="comicTitle" data-live-preview-target="comicTitle"></h2>
      <%# h2 above is target from _buro rb 13 ? %>
      </div>
        <div class="vignettes">
        <div class="vignette-text">
          <div data-live-preview-target="vignetteLeft" class="element">
            <%# target from _buro."library"./.. ? %>
            <%# KALEK %>
            <img class="adapt" data-live-preview-target="vig1BackgroundImage" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1710232232/Comix_trip_material/vignette_default_ygs7eu.png" style="position: absolute; z-index: 0;" alt="">
            <img class="adapt" data-live-preview-target="vig1Char1Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Comix_trip_material/Fritz_front_left.png" style="position: absolute; z-index: 1;" alt="">
            <img class="adapt" data-live-preview-target="vig1Char2Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/c_pad,w_260,h_260/v1710159777/Comix_trip_material/ch_older_man_teacher_ir3zxk.png" style="position: absolute; z-index: 1;" alt="">
          </div>
          <div class="rectangle-left d-none" id="rectangle-left1" data-live-preview-target="rectangleLeft1"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right d-none" id="rectangle-right1" data-live-preview-target="rectangleRight1"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
        <div class="vignette-text">
          <div data-live-preview-target="vignetteCenter" class="element">
            <%# target from _buro."library"./.. ? %>
            <img class="adapt" data-live-preview-target="vig2BackgroundImage" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1710232232/Comix_trip_material/vignette_default_ygs7eu.png" style="position: absolute; z-index: 0;" alt="">
            <img class="adapt" data-live-preview-target="vig2Char1Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Comix_trip_material/Fritz_front_left.png" style="position: absolute; z-index: 1;" alt="">
            <img class="adapt" data-live-preview-target="vig2Char2Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/c_pad,w_260,h_260/v1710159777/Comix_trip_material/ch_older_man_teacher_ir3zxk.png" style="position: absolute; z-index: 1;" alt="">
          </div>
          <div class="rectangle-left d-none" id="rectangle-left2" data-live-preview-target="rectangleLeft2"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right d-none" id="rectangle-right2" data-live-preview-target="rectangleRight2"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
        <div class="vignette-text">
          <div data-live-preview-target="vignetteRight" class="element">
            <%# target from _buro."library"./.. ? %>
            <img class="adapt" data-live-preview-target="vig3BackgroundImage" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1710232232/Comix_trip_material/vignette_default_ygs7eu.png" style="position: absolute; z-index: 0;" alt="">
            <img class="adapt" data-live-preview-target="vig3Char1Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Comix_trip_material/Fritz_front_left.png" style="position: absolute; z-index: 1;" alt="">
            <img class="adapt" data-live-preview-target="vig3Char2Image" src="https://res.cloudinary.com/dlmpwvjpw/image/upload/c_pad,w_260,h_260/v1710159777/Comix_trip_material/ch_older_man_teacher_ir3zxk.png" style="position: absolute; z-index: 1;" alt="">
          </div>
          <div class="rectangle-left d-none" id="rectangle-left3" data-live-preview-target="rectangleLeft3"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right d-none" id="rectangle-right3" data-live-preview-target="rectangleRight3"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
      </div>
    </div>
</div>
