<div class="preview-container">
  <div class="comic">

  </div>
  <div class="vignettes">
    <div class="vignette"></div>
    <div class="vignette"></div>
    <div class="vignette"></div>
  </div>
</div>
