<div class="preview-container">
  <div class="comic">
    <div class="comic-title">
      <h2 id="comic_title"></h2>
      <%# h2 above is target from _buro rb 13 ? %>
      </div>
      <div class="vignettes">
        <div class="vignette-text">
          <div class="element">
            <%# target from _buro."library"./.. ? %>
          </div>
          <div class="rectangle-left"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
        <div class="vignette-text">
          <div class="element">
            <%# target from _buro."library"./.. ? %>
          </div>
          <div class="rectangle-left"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
        <div class="vignette-text">
          <div class="element">
            <%# target from _buro."library"./.. ? %>
          </div>
          <div class="rectangle-left"></div>
                <%# above is target from _buro rb 14 ? %>
          <div class="rectangle-right"></div>
                <%# above is target from _buro rb 15 ? %>
        </div>
      </div>
    </div>
</div>
