<div class="preview-container">
  <h2>Add my title</h2>
  <div class="comic">
    <div class="vignettes">
      <div class="vignette">
      <div>
        <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Fritz_front_left.png", alt: "Image 1", class: "img-fluid" %>
      <div class="rectangle-left">lefty</div>
      <div class="rectangle-right">righty</div>
      </div>
      </div>
      <div class="vignette">
        <div>
        <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731428/Teacher_front_right.png", alt: "Image 2", class: "img-fluid" %>
      <div class="rectangle-left">lefty</div>
      <div class="rectangle-right">righty</div>
      </div>
      </div>
      <div class="vignette">
      <div>
        <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731428/Teacher_front_right.png", alt: "Image 3", class: "img-fluid" %>
      <div class="rectangle-left">lefty</div>
      <div class="rectangle-right">righty</div>
      </div>
      </div>
    </div>
  </div>
</div>
