<div class="container">
  <div class="row">
    <% @comic_trips.each do |comic_trip| %>
      <div class="col-6">
        <h6><%= comic_trip %></h6>
        <strong>Title:</strong><h6><%= comic_trip.title %></h6>
        <strong>Nickname:</strong><h6><%= comic_trip.user.nickname %></h6>
      </div>
    <% end %>
  </div>
<%= link_to "Back to Home", root_path, class: "btn btn-info btn-custom" %>
</div>
