<div class="container">
  <div class="row">
<% if @comic_trips.any? %>
  <% @comic_trips.each do |comic_trip| %>
    <div class="col-12 sm-8 my-3">
      <%= render 'show', comic_trip: comic_trip %>
    </div>
  <% end %>
<% else %>
  <em>Sorry, no comiXtrip found.</em>
<% end %>

  </div>
</div>
<button onclick="topFunction()" class="btn btn-info btn-custom scroll-top">
  <img src="https://res.cloudinary.com/dlmpwvjpw/image/upload/v1710431958/CREATE_1_bwzskw.png" alt="Top" />
</div>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
  }
</script>
