<div class="container">
  <div class="row">
<% if @comic_trips.any? %>
  <% @comic_trips.each do |comic_trip| %>
    <div class="col-6 sm-8 my-3">
      <h6>Title: <%= comic_trip.title %></h6>
      <h6>Nickname: <%= comic_trip.user.nickname %></h6>
    </div>
  <% end %>
<% else %>
  <em>Sorry, no comiXtrip found.</em>
<% end %>

  </div>
<%= link_to "Back to Home", root_path, class: "btn btn-info btn-custom" %>
</div>
