<div class="container" data-controller="live-preview" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
  <div class="buro" style="">
      <%= render 'buro' %>
  </div>
</div>
