<div class="container" data-controller="live-preview">
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
<<<<<<< HEAD
  <div class="buro" style="margin-top: 50px;">
      <%= render 'buro' %>
=======
  <div class="buro" style="">
      <%= render 'buro', comic: @comic_trip %>
>>>>>>> 323b22910ebf4bed3cf03b4e61ed2c9b9842b589
  </div>
</div>
