<div class="container" data-controller="live-preview">
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
  <div class="buro" style="margin-top: 50px;">
      <%= render 'buro' %>
  </div>
</div>
