<div class="container" data-controller="live-preview">
  <div>
  <%= render "e1_background" %>
  </div>
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
  <div class="buro" style="">
      <%= render 'buro', comic: @comic_trip %>
  </div>
</div>
