<header class="header">
<h6></h6>
  <div class="profile-info">
    <div class="info">
      <h1 class="nickname"><%= "#{current_user.nickname}"%></h1>
      <h2 class="email"><%= "#{current_user.email}" %></h2>
    </div>
  </div>
  <button class="edit-button">Edit</button>
</header>
