<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="case">
        <h2>News 1</h2>
  <p><%= image_tag "https://res.cloudinary.com/dfxkyfx9p/image/upload/v1710417561/cm8kmaua6mawbll8rt7g.png" %></p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="case">
        <h2>News 2</h2>
  <p>and more to come</p>
      </div>
    </div>
  </div>
</div>
