<body>

  <header class="header">
 <div class="profile-info">
    <%= image_tag "#{current_user.avatar}", class: "avatar"%>
    <h1><%= "#{current_user.nickname}" %></h1>
  </div>
  <button class="edit-button">Edit</button>
  </header>

  <div class="profile-content">

  </div>

  <footer class="footer">

  </footer>
</body>
