<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="text-center">
        <h2> Start creating right now !</h2>
          <%= image_tag "https://res.cloudinary.com/dfxkyfx9p/image/upload/v1710415031/QRCODE_COMIXTRIP.png"%>
      </div>
    </div>
  </div>
</div>
