.creation-section {
  background-color: #BB3E03;
  display: flex;
  flex-direction: column;
  border: 6px solid $midnight-green;
  margin-bottom: 20px;

  .row-title-category{
    background-color: $gamboge;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 10px;
  }

  .row-vignettes{
    background-color: $dark-cyan;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 10px;

    .col-vignette-1{
      background-color: $alloy-orange;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      border: 6px dotted $tiffany-blue;
      padding: 5px;
      margin: 5px;
    }

    .col-vignette-2{
      background-color: $rufous;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      border: 6px dotted $tiffany-blue;
      padding: 5px;
      margin: 5px;
    }

    .col-vignette-3{
      background-color: $midnight-green;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      border: 6px dotted $tiffany-blue;
      padding: 5px;
      margin: 5px;
    }
  }

  .row-publish{
    background-color: $dark-cyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }

  .publish-button {
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $rich-black;
    background-color:aliceblue;
    border-radius: 10px;
    border: 2px solid #000;
    position: relative;
    padding: 10px;
    transition: transform 0.3s ease;
    margin-top: -8px;
  }
  
  .publish-button:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 20px solid transparent;
    border-top-color: aliceblue;
    border-bottom: 0;
    border-left: 0;
    transform: translateX(-50%);
  }

}
