.creation-section {
  background-color: #bb3e03;
  bottom: 150px;
  left: 100px;
  right: 100px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.creation-section button {
  display: inline-block;
  margin: 5px 10px 3px 5px;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 11px;
  cursor: pointer;
}

.delete-button, .big-button {
  margin-left: 1px;
  font-size: 11px;
  color: #9b2226;
  float: right;
  border-radius: 5px;
}

.big-button {
  border: 2px solid #9b2226;
}
