.navbar-lewagon {
  height:70px;
  justify-content: space-between;
  background: $auburn;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
