.navbar-lewagon {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b2226ff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

